
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.editorconfig
.env.local
.env.dev
.env
composer.lock
symfony.lock
.github
###< symfony/framework-bundle ###
