parameters:
    cors.allowed_origins: '%env(CORS_ALLOWED_ORIGINS)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../src/Entity/'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']
